.container {
    width: 100%;
    display: grid;
    gap: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: auto;
    grid-column: 1 / 4;
    background-color: #F2B6C1;
    color: white;
}

.profile-pic    {
    height: 150px;
    width: auto;
    padding: 1rem 1rem 0;
}

h1  {
    display: inline-grid;
    font-size: 1.5rem;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    grid-column: 1 / 4;
    background-color: #F2AE30;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 1rem;
}

.main-content {
    grid-column: 1 / 3;
    background-color: #89D9D9;
    padding: 1rem;
}

.aside-right {
    grid-column: 3 / 4;
    background-color: #F2811D;
    padding: 1rem;
}

footer {
    grid-column: 1 / 4;
    background-color: #5A98BF;
    text-align: center;
    /* height: 150px; */
    padding: 1rem;
    color: white;
}
